html {
  font-size: 16px;
  cursor: pointer;
}

:root {
  --sarans_blue: #030640;
  --sarans_lighter_blue: #253659;
  --sarans_lightest_blue: #E1ECEE;
  --sarans_green: #05594A;
  --sarans_brown: #BFA995;
}

@font-face {
  font-family: 'tan-pearl';
  src: url('./Font/tan-pearl.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.App {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: "Libre Baskerville", serif;
}

.slideContainer {
  display: flex;
  position: relative;
  height: 100%;
  width: 100vw;
}

.leftSlide,
.rightSlide {
  position: absolute;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.leftSlide {
  width: 35%;
  top: 0;
  left: 0;
}

.rightSlide {
  top: 0;
  left: 35%;
  width: 65%;
}

.leftSlide.odd {
  width: 65%;
}

.rightSlide.odd {
  left: 65%;
  width: 35%;
}

.actionButtons .downButton {
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 100;
  transform: translateX(-100%);
}

.actionButtons .upButton {
  position: absolute;
  left: 95%;
  top: 95%;
  z-index: 100;
  transform: translateY(-100%);
}

.actionButtons .downButton,
.upButton {
  background-color: var(--sarans_lightest_blue);
  border: none;
  color: var(--sarans_blue);
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
}

.actionButtons button:hover {
  background-color: var(--sarans_blue);
  color: white;
}

/* button:focus {
  outline: none;
} */

@media (max-width: 768px) {
  .leftSlide {
    width: 15%;
  }

  .rightSlide {
    left: 15%;
    width: 85%;
  }

  .rightSlide.odd {
    left: 85%;
    width: 15%;
  }

  .leftSlide.odd {
    width: 85%;
  }

  .actionButtons .downButton {
    left: 10%;
  }

  .actionButtons .upButton {
    top: 90%;
    left: 85%;
  }

  .actionButtons .downButton,
  .upButton {
    font-size: 0.5rem;
    padding: 0.5rem;
  }

  html {
    cursor: pointer;
    font-size: 16px;
  }
}